<div class="row">
  <div class="row" *ngIf="generateTask">
    <button type="button" class="btn btn-primary" (click)="onGenerateTask()">Generate task</button>
  </div>
  <div class="row" *ngIf="!generateTask">

    <div class="col-md-4">
      <h3>{{ currentTask.origin }}</h3>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <button class="btn btn-default" *ngIf="showNext" (click)="onNext()" >Next <span class="glyphicon glyphicon-menu-right"></span></button>
      <button class="btn btn-default" *ngIf="!showNext" (click)="dontKnow()">Don't know</button>
    </div>

  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <app-leveltasklist [variants]="currentTask.variants" (selected)="onSelected($event)" [isPreview]="preview"></app-leveltasklist>
  </div>
</div>
