<div class="container">
    <div class="row">
        <input type="text" class="form-control">
    </div>
    <div class="row">
        <div class="col-xs-5">
            <select class="form-control">
                <option value="uk">Ukranian</option>
                <option value="ru">Russian</option>
            </select>
        </div>
        <div class="col-xs-5">
            <select class="form-control">
                <option value="google">Google</option>
                <option value="bing">Bing</option>
            </select>
        </div>
        <div class="col-xs-2">
            <button class="btn">
                <image src="..\data\search.png"></image>
            </button>
        </div>
    </div>
    <div class="row">
    </div>
</div>