<div class="container">
  <div class="row">
    <label for="letters">Filter by Letter:</label>
    <select id="letters" name="letters" class="form-control" (change)="onChange($event.target.value)">
      <option  *ngFor="let l of letters; let i = index"
        value="{{i}}" label="{{l}}"></option>
    </select>
  </div>
  <div class="row w-100" style="overflow-y: scroll; height: 500px">
    <table class="table table-striped" >
      <thead>
        <tr>
          <th scope="col">Id</th>
        <th scope="col">Text</th>
        <th scope="col">Level</th>
        <th scope="col">Deck</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let word of words">
          <th scope="row">{{word.id}}</th>
          <td>{{word.text}}</td>
          <td>{{word.level}}</td>
          <td>{{word.deck.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <ul class="pagination">
      <li class="page-item" [ngClass]="{'active': currentPage == name }" *ngFor="let name of pages; let i=index"><a class="page-link" (click)="onPageClick(name)">{{name}}</a></li>
    </ul>
  </div>
</div>
