<div class="form-inline">
  <div class="form-group mb-2">
    <label>Select letter or leave empty for showing all words: </label>
    <select id="letters" name="letters" style="width: 40px" (change)="onChange($event.target.value)" class="form-control">
      <option  *ngFor="let l of letters; let i = index"
               value="{{i}}" label="{{l}}"></option>
    </select>
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <button type="button" class="btn btn-default" (click)="onRefresh()">
      <span class="glyphicon glyphicon-refresh" aria-hidden="false"></span> Refresh
    </button>
  </div>
</div>
<div class="row w-100" style="overflow-y: scroll; height: 500px">
  <table class="table table-striped table-hover" >
    <thead>
      <tr>
        <th scope="col">Id</th>
      <th scope="col">Text</th>
      <th scope="col">Level</th>
      <th scope="col">Deck</th>
      <th scope="col">Deck</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let word of words">
        <th scope="row">{{word.id}}</th>
        <td>{{word.text}}</td>
        <td>{{word.level}}</td>
        <td>{{word.deck !== null ? word.deck.name : 'n/a'}}</td>
        <td>
          <a class="btn btn-outline-info" (click)="onDetails(wordDetails, word.id)" ><span class="fas fa-info"></span></a>
          <button class="btn btn-outline-danger" (click)="onDelete(word.id)"><span class="fas fa-trash"></span></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <ul class="pagination">
    <li class="page-item" [ngClass]="{'active': currentPage == name }" *ngFor="let name of pages; let i=index"><a class="page-link" (click)="onPageClick(name)">{{name}}</a></li>
  </ul>
</div>

<ng-template #wordDetails let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Word <span class="bg-info">"{{word.text}}"</span><a *ngIf="word.sound != null" onclick="this.firstElementChild.play()"><audio src="{{word.sound}}"></audio><span class="fas fa-file-audio-o"></span></a></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group" *ngIf="word.phonetic != null">
      <label>Phonetic:</label> {{word.phonetic}}
    </div>
    <div class="form-group">
      <label>Level:</label> {{word.level}}
    </div>
    <div class="form-group" *ngIf="word.translates !== null && word.translates.length > 0">
      <label>Translation:</label>
      <ul>
        <li *ngFor="let trans of word.translates">{{ trans.text }}</li>
      </ul>
    </div>
    <div class="form-group" *ngIf="word.examples !== null && word.examples.length > 0">
      <label>Examples:</label>
      <ul>
        <li *ngFor="let example of word.examples" appHighlight [template]="word.text" [text]="example.text"></li>
      </ul>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('close')">Close</button>
  </div>
</ng-template>

