<form (ngSubmit)="onSubmit()" [formGroup]="settingsGroup">

  <div class="form-group">
    <label for="newwords">New Words:</label>
    <input type="number" id="newwords" name="newwords" formControlName="newwords" class="form-control">
</div>

<div class="form-group">
  <label for="minutes">New Words:</label>
  <input type="number" id="minutes" name="minutes" formControlName="minutes" class="form-control">
</div>

<div class="form-group">
  <label>Count words (EF less 2): {{memoryinfo.countefless2}}</label>
</div>

<div class="form-group">
  <label>Count words (EF greater 2): {{memoryinfo.countefgreater2}}</label>
</div>

<div class="form-group">
  <label>Count words (in porecess): {{memoryinfo.countinprocess}}</label>
</div>

<div class="form-row">
  <button type="submit" class="btn btn-outline-primary">Start Lesson</button>
</div>
</form>
